.center {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: min(400px, 100% - 16px);
  padding: 30px;
  border-radius: 20px;
}

.boxContainer {
  width: 100%;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}

.column,
.labels {
  display: flex;
  flex-direction: column;
}

.column {
  gap: 25px;
}

.labels {
  gap: 10px;
}

.labels label {
  color: var(--labelsColor);
}

.boxInput {
  background-color: var(--inputColor);
  border-radius: 10px;
  border: 1px solid var(--inputBorder);
  transition: 0.15s ease-in-out;
}

.boxInput:hover,
.boxInput:focus-within {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px var(--inputShadow);
  border: 1px solid var(--inputBorderHover);
}

.btnLogin {
  margin-top: 40px;
  text-align: center;
  background-color: var(--buttonColor);
  color: var(--buttonText);
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}

.btnLogin:hover {
  background-color: var(--buttonColorHover);
}

.passwordRecover {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

.passwordRecover span {
  cursor: pointer;
  color: var(--secondaryTextColor);
  transition: 0.15s ease-in-out;
}

.passwordRecover span:hover {
  color: var(--secondaryTextColorHover);
}
