/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"); */
@font-face {
  font-family: "Mona sans";
  src: local("Mona sans"),
    url("./fonts/Mona Sans/Mona-Sans.ttf") format("truetype");
}

:root {
  --background: rgb(255, 255, 255);

  /* Primary Button */
  --primaryButtonColor: rgb(12, 12, 12);
  --primaryButtonColorHover: rgba(12, 12, 12, 0.85);
  --primaryButtonTextColor: rgb(255, 255, 255);

  --btnHeight: 48px;

  /* Secondary Button */
  --secondaryButtonColor: rgb(242, 242, 242);
  --secondaryButtonColorHover: rgb(234, 234, 234);
  --secondaryButtonTextColor: rgb(12, 12, 12);

  --borderBtnColor: rgba(178, 5, 208, 0.3);
  --borderShadowBtnColor: rgba(178, 5, 208, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5pt;
  font-family: "Mona sans", sans-serif;
}

a {
  text-decoration: none;
}
