/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"); */
@font-face {
  font-family: "Mona sans";
  src: local("Mona sans"),
    url("./fonts/Mona Sans/Mona-Sans.ttf") format("truetype");
}

:root {
  --background: #f8f7f4;

  /* Primary Button */
  --primaryButtonColor: #0c0c0c;
  --primaryButtonColorHover: #0c0c0cdd;
  --primaryButtonTextColor: #ffffff;

  /* Secondary Button */
  --secondaryButtonColor: #f2f2f2;
  --secondaryButtonColorHover: #eaeaea;
  --secondaryButtonTextColor: #0c0c0c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5pt;
  font-family: "Mona sans", sans-serif;
}

button {
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}
