@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Mona sans";
  src: local("Mona sans"),
    url("./fonts/Mona Sans/Mona-Sans.ttf") format("truetype");
}

:root {
  --background: rgb(253, 253, 253);

  --primaryColor: rgb(255, 255, 255);
  --secondaryColor: rgb(245, 245, 245);
  --thirdColor: rgb(240, 240, 240);

  --textColor: rgb(0, 0, 0);
  --labelsColor: rgb(24, 24, 24);

  --boxBorder: rgba(220, 220, 220, 1);

  --inputColor: rgb(255, 255, 255);
  --inputBorder: rgba(240, 240, 240, 1);
  --inputBorderHover: rgba(24, 24, 24, 0.1);
  --inputShadow: rgba(24, 24, 24, 0.1);

  --buttonColor: rgb(24, 24, 24);
  --buttonColorHover: rgb(50, 50, 50);
  --buttonText: rgb(255, 255, 255);
  --buttonShadow: rgba(5, 5, 5, 0.18);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona sans", sans-serif;
  color: var(--textColor);
}

a {
  text-decoration: none;
}

input {
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  padding: 16px;
  font-size: 16px;
  width: 100%;
}
